<div class="login-boxes">
    <h2 class="log-in-title">Log In</h2>
    <div class="email-box">
        <form class="example-form">
            <!-- <mat-icon matPrefix>alternate_email</mat-icon> -->
            <input type="email" matInput placeholder="Ex. pat@example.com">
        </form>
    </div>
    <div class="password-box">
        <form class="example-form">
            <!-- <mat-icon>lock</mat-icon> -->
            <input type="password" matInput placeholder="Password">
        </form>
    </div>
    <div class="login-btn">
        <button class="login-btn2" mat-raised-button>LOGIN</button>
    </div>
    <br>
    <h4 class="sentences-passwd">Forgot your password?</h4>
</div>