<div class="container">
    <div class="wrapper">
        <div id="stars1"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div class="sub-container">
            <div class="options">
                <div class="toggle-in-up">
                    <h4 class="login">Log In</h4>
                    <h4 class="signup">Sign Up</h4>
                </div>
                <mat-slide-toggle (change)="handleToggleChange($event)"></mat-slide-toggle>
            </div>
            <br>
            <br>
            <!--pageName değişkenine göre komp'i ekrana getiriyoruz-->
            @if (pageName === "login") {
            <app-login></app-login>
            }
           @else{
            <app-signup></app-signup>
            }
        </div>
    </div>
</div>